
                    <div class="no-print raise-getty"><div class="getty embed image floatright" style="display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:400px; position:relative;top:4px"><div style="padding:0;margin:0;text-align:left;"><a href="______________" target="_blank" style="color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;">Embed from Getty Images</a></div><div style="overflow:hidden;position:relative;height:0;padding:_______% 0 0 0;width:100%;border: 1px solid black"><iframe src="_______________" width="400" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe></div><p style="margin:0;"></p>
                        <figcaption style="width:400px;padding-top:3px">
                        </figcaption>
                        </div>
                    </div>

                    <div class="no-website-table no-print"><div class="getty embed image" style="display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:298px; position:relative;left:10px;top:5px"><div style="padding:0;margin:0;text-align:left;"><a href="___________" target="_blank" style="color:#a7a7a7 !important;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;">Embed from Getty Images</a></div><div style="overflow:hidden;position:relative;height:0;padding:_______% 0 0 0;width:100%;border: 1px solid black"><iframe src="___________" width="298" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe></div><p style="margin:0;"></p>
                        <figcaption style="width:298px;position:relative;top:-12px">
                        </figcaption>
                        </div>
                    </div>

                    <figure class="floatright no-website-inline">
                        <img src="/images/blog/drafts/drafts/drafts/_________________.jpg" style="width:400px">
                        <figcaption>
                        </figcaption>
                    </figure>
