
        <item>
            <title>TITLE</title>
            <link>LINK</link>
            <guid>LINK</guid>
            <pubDate>DAY (of week -- three characters), DAY (NUMBER) MONTH (three characters) YEAR 00:00:00 GMT</pubDate>
            <description><![CDATA[

                <div width:600px; margin-left:10px; margin-bottom:10px"><img src="http://DOMAIN.com" style="border: solid 1px black" width="600"><figcaption style="margin-left:10px; text-align:center"></figcaption></div>

                ]]>
            </description>
        </item>
