<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
				<tr>
					<td width="187">
						<img src="http://www.DOMAIN.com/images/miscellaneous/email-head-top.png" alt="" style="display:block">
					</td>
					<td style="color: #000000; font-size: 12px; font-family: verdana, serif;" align="left">Having trouble viewing this email? <a href="http://DOMAIN.com/emails/blog/YEAR/MONTH/TITLE" style="color: #2c7d61">Click here</a>
					</td>
				</tr>
				<tr>
					<td colspan="2" width="600">
						<img src="http://www.DOMAIN.com/images/miscellaneous/email-head-bottom.png" alt="" style="display:block">
					</td>
				</tr>
				<tr>
					<td colspan="2" bgcolor="#ffffff" style="padding: 10px 15px 15px 15px;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td style="padding: 0px 0px 0px 0px; color: #000000; font-size: 13px; font-family: verdana, serif;">
										Hello,
										<br>
										<br>Cheers,
                                        <br>
										<br>Name
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2" width="600">
						<img src="http://www.domain.com/images/miscellaneous/email-bottomline-10.png" alt="" style="display:block">
					</td>
				</tr>
				<tr width="600" bgcolor="#191919">
					<td colspan="2" style="color: #ffffff; font-size: 10px; font-family: Verdana, serif; text-align: center; padding: 11px 40px 18px 40px;">To stop receiving notifications about new blog posts simply <a href="mailto:NAME@DOMAIN.com?subject=UNSUBSCRIBE FROM BLOG POSTS" style="text-decoration: none; color: #2c7d61">reply</a> with
						<br>UNSUBSCRIBE FROM BLOG POSTS in the subject line.</td>
				</tr>
			</table>
		</td>
	</tr>
</table>